@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-primary: #1fc1b1;
  --color-secondary: #26f171;
  --color-accent: #4cdb81;
  --color-dark: #151515;
  --color-light: #ffffff;

  --tracking-extra-widest: 0.2em; /* 20% */
}

body {
  @apply bg-dark min-h-screen w-screen font-sans text-white lg:h-screen;
}

#root {
  @apply mx-auto flex min-h-screen flex-col lg:h-screen lg:max-w-screen-2xl;
}

/* Header */

.header__subtitle--animation {
  border-right: 0.15em solid transparent;
  line-height: 1;
  animation:
    logo-typing 3s steps(40, end) forwards,
    blink-caret 0.75s step-end 5,
    hide-cursor 0.01s forwards 3.75s;
}

@keyframes logo-typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-right: 0.15em solid #525252;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #525252;
  }
}

@keyframes hide-cursor {
  to {
    border-color: transparent;
  }
}

/* NavSection */
.NavSection {
  @apply bg-primary fixed bottom-5 left-0 z-10 flex w-full flex-row items-center justify-center gap-8 text-2xl;
  @apply md:top-2/4 md:right-0 md:bottom-auto md:left-auto md:w-min md:-translate-y-2/4 md:flex-col;
  @apply rounded-l-lg p-5;
}
.navigation__link {
  @apply text-dark hover:text-dark transition duration-200 ease-in-out focus:text-indigo-800;
}
.navigation__link--active {
  @apply text-white;
}

/* Main */

/* Home */

/* About */

/* Projects */

.projects__tags--bg {
  @apply mx-1 flex cursor-pointer items-center rounded-lg border-0 bg-[#4CDB81] px-3 py-2 text-black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra sutil */
  transition: transform 0.2s ease-in-out; /* Transición suave para el efecto de hover */
}
.projects__tags--bg:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
.project__image {
  @apply w-3/4 rounded-lg object-cover shadow-md;
}
.project__name {
  @apply my-4 text-lg tracking-widest uppercase;
}
.project__share {
  @apply flex flex-row gap-4;
}
.project__share--btn {
  @apply bg-primary rounded-md border-0 px-8 py-1 text-sm text-white transition delay-150 duration-700 ease-in-out hover:scale-110 hover:bg-indigo-950;
}
.project__desc {
  @apply m-2 text-justify text-lg leading-8 font-light;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-indigo-800;
  font-size: 30px;
}
.swiper-slide-active {
  @apply mx-1 flex flex-col items-center justify-center px-8;
}
/* Skills */
.skills {
  @apply my-auto grid grid-cols-3 gap-10;
}
.skills__photo {
  @apply hidden items-center justify-center lg:flex;
}
.skills__type {
  @apply flex flex-col items-center justify-center gap-6;
}
.skills__skill {
  @apply flex flex-col items-center justify-center;
}
.skills__skill--name {
  @apply font-light;
}
.skills__skill--icon {
  @apply text-3xl;
}

/* FooterSection */
.FooterSection {
  @apply flex flex-row items-center justify-between p-5 text-xs;
  @apply fixed bottom-0 left-0 z-10 w-full lg:px-24;
}
